.block{
	display: flex;
	flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(193,70,133,1) 4%, rgba(97,193,126,1) 7%, rgba(193,96,119,1) 10%, rgba(169,192,47,1) 15%, rgba(58,192,179,1) 27%, rgba(66,192,174,1) 29%, rgba(92,191,102,1) 39%, rgba(173,191,108,1) 45%, rgba(132,190,129,1) 54%, rgba(185,68,165,1) 79%, rgba(237,187,56,1) 94%, rgba(253,187,45,1) 100%);
}
.block2{
	margin: auto;
	color: white;
}